{% extends 'base.html.twig' %}

{% block title %}Marketplace API | Home{% endblock %}

{% block body %}
    <div class="relative isolate px-6 lg:px-8">
        <div class="mx-auto max-w-2xl py-32 ">
            <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            </div>
            <div class="text-center">
                <h1 class="text-balance text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">  Gain money from your fabulous APIs</h1>
                <p class="mt-6 text-lg leading-8 text-gray-600">Transform your innovative APIs into a lucrative source of income by connecting with a global network of developers and businesses eager to enhance their projects.
                    Join us and unlock the full potential of your creations!</p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Register my API</a>
                      <a href="#apiIndex" class="text-sm font-semibold leading-6 text-gray-900">Explore existing APIs <span aria-hidden="true">→</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8" id="apiIndex">
            <div class="mx-auto max-w-2xl lg:mx-0 pb-4">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Already registered APIs</h2>
                <p class="mt-2 text-lg leading-8 text-gray-600">Explore our collection of APIs ready for integration.</p>
            </div>
            <hr>
            {% for api in apis %}
                <div class="py-5 flex justify-between">
                    <div class="">
                        <h3 class="text-xl font-semibold ">{{ api.name }}</h3>
                        <p class=" text-gray-500">{{ api.description }}</p>
                    </div>
                    <div class="mt-10 flex items-center justify-center gap-x-6">
                        <a href="#apiIndex" class="text-sm font-semibold leading-6 text-gray-900">See more<span aria-hidden="true">→</span></a>

                    </div>
                </div>


                <hr>

            {% endfor %}

        </div>



    </div>



{% endblock %}
